*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(0deg, rgb(0, 0, 0));
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 h1{
    color: white;
 }

 h4{
    color: rgb(110, 110, 248);
 }

 .music-container{
    background-color: blue;
    border: 15px;
    
 }
